.svg_small
{
    height: 24px;
    margin:5px;
}
.theme_element, .svg
{
    transition: all;
    transition-duration: 2s;
}

.theme_d1_1
{
    background-color: #454545;
    color: #CCCCCC;
    border-color: #CCCCCC;
    .svg
    {
        fill: #CCCCCC;
    }
}
.theme_d1_2
{
    background-color: #595959;
    color: #CCCCCC;
    border-color: #CCCCCC;
    .svg
    {
        fill: #CCCCCC;
    }
}
.theme_d1_3
{
    background-color: #808080;
    color: #CCCCCC;
    border-color: #CCCCCC;
    .svg
    {
        fill: #CCCCCC;
    }
}
.theme_d1_4
{
    background-color: #A5A5A5;
    color: #454545;
    border-color: #454545;
    .svg
    {
        fill: #454545;
    }
}
.theme_d1_5
{
    background-color: #CCCCCC;
    color: #454545;
    border-color: #454545;
    .svg
    {
        fill: #454545;
    }
}

.theme_d2_1
{
    background-color: #8860D0;
    color: #EEEEEE;
    border-color: #EEEEEE;
    .svg
    {
        fill: #EEEEEE;
    }
}
.theme_d2_2
{
    background-color: #5680E9;
    color: #EEEEEE;
    border-color: #EEEEEE;
    .svg
    {
        fill: #EEEEEE;
    }
}
.theme_d2_3
{
    background-color: #84CEEB;
    color: #111111;
    border-color: #111111;
    .svg
    {
        fill: #111111;
    }
}
.theme_d2_4
{
    background-color: #5AB9EA;
    color: #111111;
    border-color: #111111;
    .svg
    {
        fill: #111111;
    }
}
.theme_d2_5
{
    background-color: #C1C8E4;
    color: #111111;
    border-color: #111111;
    .svg
    {
        fill: #111111;
    }
}

.theme_d3_1
{
    background-color: #1F2605;
    color: #DDDDDD;
    border-color: #DDDDDD;
    .svg
    {
        fill: #DDDDDD;
    }
}
.theme_d3_2
{
    background-color: #1F6521;
    color: #DDDDDD;
    border-color: #DDDDDD;
    .svg
    {
        fill: #DDDDDD;
    }
}
.theme_d3_3
{
    background-color: #54900F;
    color: #CCCCCC;
    border-color: #CCCCCC;
    .svg
    {
        fill: #CCCCCC;
    }
}
.theme_d3_4
{
    background-color: #A4A71E;
    color: #222222;
    border-color: #222222;
    .svg
    {
        fill: #222222;
    }
}
.theme_d3_5
{
    background-color: #D6CE15;
    color: #111111;
    border-color: #111111;
    .svg
    {
        fill: #111111;
    }
}

.theme_d4_1
{

}
.theme_d4_2
{
    
}
.theme_d4_3
{
    
}
.theme_d4_4
{
    
}
.theme_d4_5
{
    
}

.theme_d5_1
{

}
.theme_d5_2
{
    
}
.theme_d5_3
{
    
}
.theme_d5_4
{
    
}
.theme_d5_5
{
    
}