.svg_small
{
    height: 24px;
    margin:5px;
}
.theme_element, .svg
{
    transition: all;
    transition-duration: 2s;
}

.theme_d1_1
{
    background-color: #454545;
    color: #CCCCCC;
    .svg
    {
        fill: #CCCCCC;
    }
}
.theme_d1_2
{
    background-color: #595959;
    color: #CCCCCC;
    .svg
    {
        fill: #CCCCCC;
    }
}
.theme_d1_3
{
    background-color: #808080;
    color: #CCCCCC;
    .svg
    {
        fill: #CCCCCC;
    }
}
.theme_d1_4
{
    background-color: #A5A5A5;
    color: #454545;
    .svg
    {
        fill: #454545;
    }
}
.theme_d1_5
{
    background-color: #CCCCCC;
    color: #454545;
    .svg
    {
        fill: #454545;
    }
}

.theme_d2_1
{
    background-color: #E27D60;
    color: #EEEEEE;
    .svg
    {
        fill: #EEEEEE;
    }
}
.theme_d2_2
{
    background-color: #E27D60;
    color: #EEEEEE;
    .svg
    {
        fill: #EEEEEE;
    }
}
.theme_d2_3
{
    background-color: #E27D60;
    color: #EEEEEE;
    .svg
    {
        fill: #EEEEEE;
    }
}
.theme_d2_4
{
    background-color: #E27D60;
    color: #EEEEEE;
    .svg
    {
        fill: #EEEEEE;
    }
}
.theme_d2_5
{
    background-color: #E27D60;
    color: #EEEEEE;
    .svg
    {
        fill: #EEEEEE;
    }
}

.theme_d3_1
{

}
.theme_d3_2
{
    
}
.theme_d3_3
{
    
}
.theme_d3_4
{
    
}
.theme_d3_5
{
    
}